[Unit]
Description=FileBrowser
After=network.target

[Service]
ExecStart=/usr/local/bin/filebrowser -c /etc/filebrowser/filebrowser.json
User=xaxm
Group=xaxm

[Install]
WantedBy=multi-user.target

