[Unit]
Description=FileBrowser
After=network.target

[Service]
ExecStart=/usr/local/bin/filebrowser -c /etc/filebrowser/filebrowser.json
User=your_username
Group=your_groupname

[Install]
WantedBy=multi-user.target

